{% extends 'flatpages/default.html' %}

{% load custom_filters %}

{% block title %}
    {% if post %}  <!-- Проверяем, существует ли объект post -->
        Редактирование статьи
    {% else %}
        Создание статьи
    {% endif %}
{% endblock title %}

{% block content %}
    <br>
    <h4>Заполните все поля для {% if post %}редактирования{% else %}создания{% endif %} статьи</h4>
    <br>
    <form action="" method="post">
        {% csrf_token %}
        {{ form }}
        <input type="submit" value="{% if post %}Сохранить изменения{% else %}Добавить статью{% endif %}">  <!-- Меняем надпись на кнопке -->
    </form>
    <br>
    <a href="{% url 'post_list' %}"><--Вернуться к новостям</a>
{% endblock content %}